@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: var(--headingFont);
    color: var(--colorBlack);
}

p,
span {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: var(--paraColor);
    font-family: var(--paraFont);
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    color: var(--paraColor);
    font-family: var(--paraFont);
}

img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}

input,
textarea {
    width: 100%;
    padding: 12px 20px;
    outline: none;
    resize: none;
    border: 1px solid #E4E7E9;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 300;
}

input::placeholder,
textarea::placeholder {
    color: #a6a6ac;
}

button {
    border: none;
}

:root {
    --colorPrimary: #FF3838;
    --paraColor: #5A5B6B;
    --colorBlack: #090919;
    --colorWhite: #ffffff;
    --paraFont: 'Nunito Sans', sans-serif;
    --headingFont: 'Montserrat', sans-serif;

}

/*==============================
    GLOBAL CSS START
=============================*/


/*==============================
    GLOBAL CSS END
=============================*/


/*==============================
    HOME PAGE START
=============================*/
/* header start */


/* header end */



/* menu start */


/* menu end */



/* banner start */


/* banner end */



/*==============================
    HOME PAGE END
=============================*/










/*==============================
    START
=============================*/

/*==============================
    END
=============================*/